/* FOOTER WRAPPER */


.footer-wrapper { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    justify-content: center; 
    align-items: center; 
    height: 50px; 
    background: rgb(54, 56, 64); 
    color: #ffffff; 
}


.footer-wrapper > .codepen-for-wrapper { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
    border: 1px solid rgb(96, 96, 96); 
}


.footer-wrapper > .codepen-for-wrapper a { 
    color: #ffffff; 
    text-decoration: none; 
    font-weight: 600; 
    font-size: 1.15em; 
}


.footer-wrapper > .codepen-for-wrapper > a > .bold{ 
    font-weight: 900; 
    font-size: 1.25em; 
    letter-spacing: -1px; 
    text-transform: uppercase; 
}


/* :hover footer BUTTONS  */

.footer-wrapper > .codepen-for-wrapper:focus {
    outline: none;
}
.footer-wrapper > .codepen-for-wrapper:hover {
    background-color: #777777;
}



